*{
    margin: 0px;
}

/* Font style */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared Styles */

.dark-1{
    color: #151414;
}
.dark-2{
    color: #444343;
}
.dark-3{
    color: #737272;
}

.text-center{
    text-align: center;
}

.header{
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 750px;
}

/* Banner Style */
.banner{
    max-width: 520px;
    position: absolute;
    top: 216px;
    right: 230px;
    text-align: right;
}

.banner-title{
    font-size: 65px;
    font-weight: bold;
    width: 525px;
    margin-bottom: 24px;
}

.banner-desc{
    width: 450px;
    font-size: 16px;
    margin-left: 70px;
    margin-bottom: 32px;
}

.banner-btn{
    width: 160px;
    height: 64px;
    border: none;
    border-radius: 5px;
    background-color: #F15B22;
    font-size: 20px;
    font-weight: 700px;
    color: whi;
    color: #ffff;
}


/* Main style */

main{
    padding: 130px 206px;
}
/* Failure Styles */

.failure-section{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    
}
.failure-section img{
    width: 500px;
}
.failure-column p, li{
    font-size: 16px;
}

.about{
    width: 420px;
}

.failure-title{
    width: 280px;
    align-items: left;
    font-size: 40px;
    font-weight: bold;
    margin-top: 200px;
    margin-bottom: 24px;
}

.failure-dec{
    width: 416px;
    margin-bottom: 16px;
}

.points{
    width: 350px;
    margin-left: -40px;
}

.points li{
    list-style: none;
}

/* My Plan Styles */

.my-plans{
    margin-top: 130px;
}
.plan-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 55px;
}

.all-plan{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.plan{
    text-align: center;
}

.plan h2{
    color:#151414;
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
}

.plan h4{
    color:#737272;
    font-size: 20px;
    font-weight: 500px;
}
